* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert {
  width: 100%;
}

.danger {
  background-color: rgb(255 124 124);
  border: solid 1px red;
  padding: 20px;
  transition: 2s;
}

.success {
  background-color: rgb(148, 247, 139);
  border: solid 1px darkgreen;
  padding: 20px;
  transition: 2s;
}

.warning {
  background-color: rgb(255, 200, 80);
  border: solid 1px orange;
  padding: 20px;
  transition: 2s;
}

.information {
  background-color: rgb(108, 238, 255);
  border: solid 1px blue;
  padding: 20px;
  transition: 2s;
}

.gamesDiv {
  display: flex;
  flex-wrap: wrap;
}

.individualGame {
  border: black 2px solid;
  border-radius: 5px;
  background-color: lightblue;
  margin: 5px;
  padding: 5px;
  width: 300px;
  min-height: 100px;
  line-height: 30px;
}

.individualGame:hover {
  background-color: violet;
}
